<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Forest Economics and Marketing</h1>
            <span>University of Helsinki</span>
            <span><address>Helsinki, Finland</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>Thesis: Furniture productions in Southeast Asia after 2008.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor in International Business</h1>
            <span>University of Economics of Ho Chi Minh city</span>
            <span><address>Ho Chi Minh city, Vietname</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Thesis: Logistics in furniture production companies.</em>
        </p>
    </article>
</section>
