<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Co-owner and Member of the board</h1>
            <span><address>Helsinki, Finland</address><time>2015 to Present</time></span>
        </header>
        <p>Specialty coffee shop </p>
    </article>
    <article>
        <header>
            <h1>Marketing and Strategic analyst</h1>
            <span><address>Helsinki, Finland</address><time>2014 to 2015</time></span>
        </header>
        <p>Market analyst and strategic development analyst in forestry management in Finland</p>
    </article>
    <article>
        <header>
            <h1>Marketing Assistant</h1>
            <span><address>Helsinki, Finland</address><time>2013 to 2014</time></span>
        </header>
        <p>Sourcing and marketing assistant for furniture production busienss</p>
    </article>
    <article>
        <header>
            <h1>Assisstant for COO</h1>
            <span><address>HCMC, Vietnam</address><time>2013</time></span>
        </header>
        <p>Marketing and business development coordinator. Administration. Host and translator</p>
    </article>
    <article>
        <header>
            <h1>International Marketing Executive</h1>
            <span><address>HCMC, Vietnam</address><time>2007 to 2010</time></span>
        </header>
        <p> B2B marketing website. International fairs. Marketing research for Southeast asian and US markets
        </p>
    </article>
</section>
