<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>International Student Ambassador</h1>
            <span><address>University of Helsinki, Finland</address><time>2013</time></span>
        </header>
        <p>
            Representative for Forestry students
        </p>
    </article>
    <article>
        <header>
            <h1>Steering group</h1>
            <span><address>University of Helsinki, Finland</address><time>2013</time></span>
        </header>
        <p>
            Student representative in Steering group in Forestry Department
        </p>
    </article>
</section>
